* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li {
    list-style: none;
}
input, button {
    display: block;
    width: 70%;
}
form {
    padding: 30px;
    border: 4px solid red;
    height: auto;
    width: 80%;
    max-width: 600px;
    margin: 30px auto;

    display: flex;
    flex-direction: column;

}
fieldset{
    padding: 2rem;
}
label{
    height: auto;
    margin: 2rem 0;
}
form label:first-child{
    border: 2px solid green;
    padding: 1rem;
    width: 90%;
    margin: 1rem auto;
}

form label:nth-child(2){
    border: 2px solid blueviolet;
    padding: 1rem;
    width: 90%;
    margin: 1rem auto;
}
form label:nth-child(3){
    border: 2px solid blueviolet;
    padding: 1rem;
    width: 90%;
    margin: 1rem auto;
}
button{
    width: 30%;
    margin: 0 auto;
}
table{
    border: 4px solid red;
    padding: 1rem;
}
td{
    border: 3px solid rgb(22, 84, 231);
    padding: 1rem;
}